# data and results
data/
Xenium/
**/results/
**/figures/
**/*.zarr
**/*.zarr.zip
**/*.h5ad
**/*.zip
**/*.tif
**/*.png
**/*.csv
**/*.geojson
**/*.pkl
**/*.pptx

# archives and old scripts
**/archive

# python based
**/__pycache__
*.pyc

